:root {
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Cabin', sans-serif;
  --primary-color: rgb(98, 130, 199);
  --secondary-color: rgb(15, 0, 97);
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

h1, h2, h3, h4 {
  color: var(--secondary-color);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.App {
  text-align: center;
}

@media screen and (min-width: 567px) {

  .App {
    width: 50%;
    margin: 0 auto;
  }
  
}
